polkit.addRule(function(action, subject) {
    if (subject.user == "ananas" && action.id.indexOf("calamares") !== -1) {
        return polkit.Result.YES;
    }
});
