[Desktop Entry]
Version=1.0
Type=Application
Name=Install Linux
Name[pl]=Install Linux
Comment=Graficzny instalator: dysk, wolumin i konto
Comment[pl]=Graficzny instalator: dysk, wolumin i konto
Comment[en]=Graphical installer: disk, volume and account
Exec=/usr/local/bin/ananas-install
Icon=ananas
Terminal=false
Categories=System;
StartupNotify=true
