[Desktop Entry]
Version=1.0
Type=Application
Name=Zainstaluj AnanasOS
Name[en]=Install AnanasOS
Comment=Zainstaluj AnanasOS na dysku tego komputera
Comment[en]=Install AnanasOS onto this computer
Exec=pkexec calamares
Icon=ananas
Terminal=false
Categories=System;
StartupNotify=true
