set timeout_style=menu
set timeout=-1
set default=0

if loadfont unicode ; then
    set gfxmode=auto
    insmod all_video
    insmod gfxterm
    insmod png
    insmod gfxterm_background
    terminal_output gfxterm
fi

if background_image /boot/grub/ananas-boot.png ; then
    set menu_color_normal=yellow/black
    set menu_color_highlight=black/yellow
    set color_normal=yellow/black
    set color_highlight=black/yellow
else
    set menu_color_normal=yellow/black
    set menu_color_highlight=black/yellow
fi

menuentry "Uruchom AnanasOS" {
    linux /casper/vmlinuz boot=casper quiet splash vt.handoff=1 nouveau.atomic=1 ---
    initrd /casper/initrd
}

menuentry "Uruchom AnanasOS (tryb awaryjny)" {
    linux /casper/vmlinuz boot=casper nomodeset ---
    initrd /casper/initrd
}

if [ "$grub_platform" = "efi" ]; then
    menuentry "Ustawienia firmware" {
        fwsetup
    }
fi
